body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.main-class{
    padding: 0 5%;
}
h1{
    font-size: 50px;
}
p{
    font-size: 24px;
}
.top-bar{
    display: flex;
    padding: 30px;
}
#top-header{
    border-left: 4px solid red;
}
#top-header h1{
    padding-left: 10px;
}
.green-color{
    color: seagreen;
}
.half-width{
    width: 50%;
    font-size: 1.5em;
}
.half-width img{
    width: 70%;
}
.description{
    padding: 40px 0;
}
.link-button{
    background-color: seagreen;
    color: seashell;
    padding: 10px 20px;
    border-radius: 5%;
    text-decoration: none;
}
.mission-section{
    padding: 20px;
    margin: 20px;
}
#mission-header{
    text-align: center;
}
.mission-element{
    display: flex;
}
.mission-element img{
    width: 150px;
    height: 150px;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}
.mission{
    background: rgba(79, 157, 166, 0.1);
    border-radius: 26px;
    padding: 10px 20px;
    margin: 10px;
}
.vission{
    background: rgba(255, 89, 89, 0.1);
    border-radius: 26px;
    padding: 10px 20px;
    margin: 10px;
}
.goals{
    background: #FFF4D6;
    border-radius: 26px;
    padding: 10px 20px;
    margin: 10px;
}
.motivation-section{
    display: flex;
    
}
.limit-section{
    display: flex;
}
footer{
    font-family: 'Lobster', sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0px;
    text-decoration: none;
}
footer a{
    text-decoration: none;
}
.contact-section{
    text-align: center;
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
}