body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.top-bar{
    display: flex;
    padding: 30px;
}
#top-header{
    border-left: 4px solid red;
}
#top-header h1{
    padding-left: 10px;
}
.green-color{
    color: seagreen;
}
.half-width{
    width: 50%;
    margin-left: 40px;
}
.half-width img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.link-button{
    background-color: seagreen;
    color: seashell;
    padding: 10px 20px;
    border-radius: 5%;
    text-decoration: none;
}
.mission-section{
    padding: 30px;
}
#mission-header{
    text-align: center;
}
.mission-element{
    display: flex;
}
.motivation-section{
    display: flex;
}
.limt-section{
    display: flex;
}